{% extends 'baseNav.html' %}

{% block header %}

<title>{% block title %} Extensive {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/text.css">
<link rel="stylesheet" href="/static/extensiveFooter.css">

<link rel="stylesheet" href="../../static/tooltip.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<style>
body {font-family: "Lato", sans-serif;}
.mySlides {display: none}
</style>

{% endblock %}


{% block main %}

<!-- Page content -->
<br>
<br>
<br>

<h1> Extensive Text Compare </h1>

<!--
<div class="form-center">
  <form method="post" action="/ExtensiveText" enctype="multipart/form-data">
    <dl>
      <p>
        <p>Upload Corpus Document</p>
        <input type="file" name="files[]" multiple="true" autocomplete="off" required class="input">
        <p>Upload Comparison Document</p>
        <input type="file" name="comparison" autocomplete="off" required class="input">
      </p>
    </dl>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
</div>
-->

<div class="form-center">
  <form method="post" action="/ExtensiveText" enctype="multipart/form-data">
    <h1> <u> Create Student </u> </h1>
    <h2> Student Number: </h2> <input type="text" id="stdNum" name="stdNum" placeholder="12345678" required> 
    <br>
    
    <p>Upload Comparison Document</p>
    <input type="file" name="ExtensiveStudent" autocomplete="off" required class="input">
    <br>
    <br>
    <input type="radio" name="ExtensiveText" value="CreateStudent" checked> Create Student<br>
    <input type="radio" name="ExtensiveText" value="UpdateStudent"> Update Student<br>
    <input type="radio" name="ExtensiveText" value="CompareCorpus" id="ischecked"> Compare Corpus <br>
    <br>
    <input type="checkbox" id="extensiveBox" name="extensiveBox" value="extensiveBox" disabled>
    <label for="extensiveBox" data-toggle="tooltip" title="Check the box to add the document to the corpus."> Add to corpus</label><br>
    <br>
    <p>
      <input type="submit" value="Submit">
    </p>

  </form>
</div>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/disablecheckbox.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>


<!-- End Page Content -->

{% endblock %}