{% extends 'baseNav.html' %}

{% block header %}

<title>{% block title %} Extensive {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/text.css">
<link rel="stylesheet" href="/static/extensiveFooter.css">

<style>
body {font-family: "Lato", sans-serif;}
.mySlides {display: none}
</style>

{% endblock %}


{% block main %}

<!-- Page content -->
<br>
<br>
<br>

<h1> Extensive Text Compare </h1>

<div class="form-center">
  <form method="post" action="/ExtensiveText" enctype="multipart/form-data">
    <dl>
      <p>
        <p>Upload Corpus Document</p>
        <input type="file" name="files[]" multiple="true" autocomplete="off" required class="input">
        <p>Upload Comparison Document</p>
        <input type="file" name="comparison" autocomplete="off" required class="input">
      </p>
    </dl>
      <p>
        <input type="submit" value="Submit">
      </p>
    </form>
</div>



<!-- End Page Content -->

{% endblock %}