{% extends 'baseNav.html' %}

{% block header %}

<title>{% block title %} Quick {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/text.css">

<style>
body{font-family: "Lato", sans-serif; height: 100%; margin: 0;}
.mySlides {display: none}
</style>

{% endblock %}


{% block main %}

<!-- Page content -->
<br>
<br>
<br>

<h1> Quick Text Compare </h1>

<div class="form-center">
  <form method="post" action="/QuickText" enctype="multipart/form-data">
    <dl>
        <p>
            <p>Upload Source Document</p>
            <input type="file" name="file1" autocomplete="off" required class="input">
            <p>Upload Comparison Document</p>
            <input type="file" name="file2" autocomplete="off" required class="input">
        </p>
    </dl>

    <!-- Script to disable substring textbox unless the radiobutton is checked-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/disabledtext.js"></script>

    <h5>Algorithm</h5>
              <input type="radio" name="algorithm" value="lines" checked> Lines<br>
              <input type="radio" name="algorithm" value="sentences"> Sentences<br>
              <input type="radio" name="algorithm" value="substrings" id="chkSubstring"> Substrings<br>
            <br>
            HELLO WORLD!
            <h5>Text Similarity Algorithm</h5>
            <input type="radio" name="textsimilarity" value="cosine">Cosine<br>
            <input type="radio" name="textsimilarity" value="jaccard" checked>Jaccard<br>

            <h5>Length (for Substrings algorithm)</h5>
              <input type="text" name="length" id="txtSubstring" disabled="true">
            <br><br>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
</div>
</form>


<!-- End Page Content -->

{% endblock %}





