{% extends 'base.html' %}

{% block header %}
    {% block title %}   <a href="/home"> <button class="B1"> <h1>  Home </h1> </button> </a>
                        <a href="/text"> <button class="B1"> <h1>  Text </h1> </button> </a> 
                        <a href="/Stylometry"> <button class="B1"> <h1>  Stylometry </h1> </button> </a> 
                        <a href="/Reports"> <button class="B1"> <h1>  Reports </h1> </button> </a> 
    {% endblock %} 
{% endblock %}

{% block content %}

    <h2> Hello World </h2>

{% endblock %}