h1 {align-items: center; justify-content: center; display: flex; font-weight: bold;}
p {align-items: center; justify-content: center; display: flex; font-weight: bold;}
#footer {position:absolute;bottom:0;width:100%;background: linear-gradient(89deg, purple 20%, rgb(252, 30, 233) 100%);}