<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %}{% endblock %} - SimiLabs</title>
{% block header %}

{% endblock %}
  <link rel="stylesheet" href="/static/baseReport.css">
</head>


<body style = "background-color: #d9d8d8">

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/reports" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Reports</a>
    <!--send_file(pdfDownloadPath, as_attachment=True)-->
    <!-- <a href=""> <button class="button buttonstyle"> <span>  Save  </span>  </button> </a> -->
    <!-- <button class="button buttonstyle"> <span> Upload </span> </button> -->
    {% if request.path == "/QuickText" %}
      <a href="{{url_for('download', filename="PlagiarismReport.pdf")}}"> <button class="button buttonstyle"> <span>  Save  </span>  </button> </a>
    {% elif request.path == "/stylometry" %}
      <a href="{{url_for('download', filename="styloReport.pdf")}}"> <button class="button buttonstyle"> <span>  Save  </span>  </button> </a>
    {% elif request.path == "/ExtensiveText" %}
      <a href="{{url_for('download', filename="PlagiarismReportExtensive.pdf")}}"> <button class="button buttonstyle"> <span>  Save  </span>  </button> </a>
    
    {% endif %}
  </div>
</div>

{% block main %}


{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</body>
</html>
