<!DOCTYPE html>
<html lang="en">

<head>
<title>{% block title %}{% endblock %} - SimiLabs</title>
{% block header %}

{% endblock %}
  <link rel="stylesheet" href="/static/baseReport.css">
</head>


<body>



<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="/reports" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Reports</a>

    <button class="button buttonstyle"> <span> Save </span>  </button>
    <button class="button buttonstyle"> <span> Upload </span> </button>
    <!--Call the WordCloud.py wordCloud function-->
    <button class="button buttonstyle" onclick="exec('python WordCloud.py');"> <span> Word Cloud </span>  </button>


  </div>
</div>

{% block main %}



{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

</body>
</html>
