{% extends 'baseNav.html' %}

{% block header %}

<title>{% block title %} Stylo {% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/text.css">

<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>

{% endblock %}


{% block main %}

<!-- Page content -->
<br>
<br>
<br>

<h1> Stylometry</h1>
<!-- <p> Choose a file to continue working on:</p> -->

<div class="form-center">
    <form method="post" action="/stylometry" enctype="multipart/form-data">
      <dl>
        <p>
          <p>Student Name and Surname</p>
          <input type="text" name="studentname" id="studentname" required autocomplete="off" class="input" style="margin-right: 210px;">
          <p>Upload Source Document</p>
          <input type="file" name="file1" required autocomplete="off" class="input">
          <p>Upload Additional Document to Corpus (Optional) </p>
          <input type="file" name="comparison" autocomplete="off" class="input">
        </p>
      </dl>
        <p>
          <input type="submit" value="Submit">
        </p>
      </form>
  </div>

  <div style="margin-bottom: 13.5vh;"></div>

<!-- End Page Content -->

{% endblock %}